html,body{
    margin:0;
    height:100%;
    overflow:hidden;
    background-color:black;
}
.main-image{
    position : fixed;
    width:auto;
    position:absolute;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
}
.infobox{
    position : fixed;
    z-index: 5;
    background-color : black;
    color : grey;
}
.arrow{
  position : fixed;
}
.arrow img{
  width : 40px;
}
.top{
  top       : 20px;
  left      : 50%;
  transform : translate(-50%,0%);
}
.bottom{
  bottom    : 20px;
  left      : 50%;
  transform : translate(-50%,0%);
}
.left{
  left      : 20px;
  top       : 50%;
  transform : translate(0%,50%);
}
.right{
  right     : 20px;
  top       : 50%;
  transform : translate(0%,50%);
}

